@import "variables.scss";
@import "mixins.scss";

.partners {
  &__content {
	@include flex-between;
	align-items: center;
	padding: 26px 15px 23px 15px;
	max-width: 1180px;
	margin: 0 auto;
	flex-wrap: wrap;
	@media($mobile-widths-only) {
	  justify-content: center;
	}
  }

  &__logo {
	img {
	  @media($tablet-widths-only) {
		width: 100%;
		height: 100%;
		display: block;
	  }
	}

	@media($tablet-widths-only) {
	  width: 15%;
	}
	@media($mobile-widths-only) {
	  width: 20%;
	  margin:10px;
	}
  }
}