$c_white:#fff;
$c_dark-grey:#999;
$c_grey:#ccc;
$c_grey2:#aaa;
$c_light-grey:#eee;

$c_gold:#e1aa6e;
$c_brown:#ba8e5b;

$c_dark-grey2: #777777;
$c_black:#454546;
$c_black2:#444;

$c_blue:#00b5d2;
$c_dark-blue:#367ab7;
$c_blue2:#008ea5;

// Fonts

$f_lato:'Lato';

// Sizes
$mobile-small-widths-only:"max-width:480px";
$mobile-widths-only: "max-width: 767px";
$tablet-widths: "min-width: 768px";
$tablet-widths-only: "max-width: 1199px";
$desktop-widths: "min-width: 1200px";
$small-desktop:"max-width:991px";

